.homePages
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-height: 100%;

    .theFirst
    {
        gap: 24px;
        display: flex;
        padding-top: 16px;

        .slider
        {
            flex: 2
        }

        .listCampaign
        {
            flex: 1;

            .container
            {
                height: 100%;
                padding: 16px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            &__title
            {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }

            &__content
            {
                margin-top: 24px;
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 3px;
                justify-content: space-between;

                .itemCampaign
                {
                    &__container
                    {
                        display: flex;
                        padding: 8px 16px;
                        gap: 24px;
                    }

                    &__avatar
                    {
                        align-self: center;
                    }

                    &__body
                    {}
                }
            }
        }
    }

    .theSecond
    {
        display: flex;
        gap: 24px;

        .listNFT
        {

            flex: 2;
            height: fit-content;

            .container
            {
                padding: 24px;
                display: flex;
                flex-direction: column;
            }

            &__title
            {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }

            &__content
            {
                display: flex;
                height: 100%;
            }
        }

        .wallet
        {

            flex: 1;
            height: fit-content;


            .container
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 24px;
            }

            &__input
            {
                width: 70%;
                padding: 16px 24px;
                font-size: 1.5rem;
            }

            &__button
            {
                margin-top: 32px;
                padding: 24px;
            }
        }
    }
}